.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    margin: 20px;
    max-height: 300px;
    width: 100%;
    min-width: 100px;
    z-index: 1;
}

.product_info {
    background-color: white;
    border: 2px solid gray;
    
}

.product_info:hover{
    border: 2px solid cornflowerblue;
}
.product_description {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    overflow: hidden;
}

.product_price {
    margin-left: 10px;
}

.product_rating {
    margin-left: 10px;
    display: flex;
    margin-bottom: 10px;
}

.product_button {
    display: flex;
}

.product button {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    float:left;
    transition: 0.5s;
    margin: auto;
}

.product button:hover{
    cursor: pointer;
    background-color: cornflowerblue;
}

.product img {
    max-height: 150px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    transition: 0.5s ease-in-out;
}

.product img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

